* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-size: $font-size;
  font-family: $font-main;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  padding: 0 100px;
  margin-right: auto;
  margin-left: auto;

  @include xs {
    padding: 0 $gap;
  }

  @include xs-min {
    max-width: 540px;
  }

  @include sm-min {
    max-width: 720px;
  }

  @include md-min {
    max-width: 960px;
  }

  @include lg-min {
    max-width: 1140px;
  }
}

.active {
  box-shadow: 0px 0px 7px 0px $color-dark-gray;
}

.to-top {
  position: fixed;
  right: $gap;
  bottom: $gap;
  width: $gap * 2;
  height: $gap * 2;
  background-color: $color-dark-gray;
  border-radius: $gap / 2;
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;

  @include xs {
    right: $gap / 2;
  }

  @media (pointer: coarse) {
    bottom: 15px;
    &:active {
      opacity: 1;

      & span {
        bottom: 15px;
      }
    }
  }

  @media (pointer: fine) {
    &:hover {
      opacity: 1;

      & span {
        color: $color-black;
        bottom: 15px;
      }
    }
  }

  & span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    bottom: 3px;
    color: $color-white;
    transition: 0.5s;
  }
}

.delete {
  display: flex;
  justify-content: flex-end;
  padding-top: $gap;
  margin-bottom: -$gap * 2;
  cursor: pointer;

  @include xs {
    justify-content: center;
  }

  & div {
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    background-color: $color-dark-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s;

    @media (pointer: fine) {
      &:hover {
        background-color: $colo-red-light;
      }
    }

    @media (pointer: coarse) {
      &:active {
        background-color: $colo-red-light;
      }
    }
  }
}
