.custom {
  position: fixed;
  bottom: 0;
  background-color: $color-gray-transition;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;

  &.active-custom {
    opacity: 1;
    pointer-events: all;
  }

  &__form {
    position: relative;
    display: flex;
    padding: 10px $gap;
    margin-top: $gap * 5;
    width: 450px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    background-color: $color-gray;
    border-radius: 15px;
    transform: scale(0.5);
    transition: 0.5s;

    @include sm {
      height: 450px;
    }
    @include xs {
      width: 350px;
      margin-top: $gap * 8;
      padding: 10px 0;
    }

    &.active-custom {
      transform: scale(1);
    }

    & h3 {
      margin: $gap 0;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.4rem;
    }
  }

  &__inp {
    display: flex;
    flex-direction: column;
    padding: 0 $gap;
  }
}

.form-title,
.form-descripton {
  letter-spacing: 0.1rem;
  padding: 5px;
  border: 1px solid $color-dark-gray;
  border-radius: 4px;
  margin-bottom: 10px;

  @include sm {
    padding: 10px 5px;
  }

  @include xs {
    font-size: 18px;
  }
}

.form-descripton {
  font-family: $font-header;
  @include sm {
    height: 200px;
  }
}

.form-btn {
  background-color: $color-dark-gray;
  padding: 5px $gap;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  margin-top: $gap;
  cursor: pointer;
  outline-style: none;

  @include sm {
    height: $gap * 2;
  }

  @include xs {
    font-size: 18px;
  }

  &:hover {
    border: 1px solid $color-black;
  }
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  & span {
    color: $color-white;
  }
}
