.favourites {
  position: relative;
}

.favourite {
  &__dishes {
    padding-top: $gap * 3;
    padding-bottom: $gap * 2;
    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    justify-content: center;
  }

  &__dish {
    display: flex;
    justify-content: center;

    @include sm-xs {
      width: 400px;
    }

    @include xs {
      width: 300px;
    }
  }
}

.no-recipe {
  font-family: $font-header;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
