header {
  background-color: $color-gray;
  font-family: $font-header;
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include md {
    justify-content: space-between;
  }

  @include xs {
    flex-direction: column;
  }

  &__nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;

    @include xs {
      flex-direction: column;
      width: 100vw;
    }

    & li {
      background-color: transparent;
      transition: 0.5s;

      @include xs {
        width: 100%;
        text-align: center;
      }

      &:hover {
        background-color: $color-dark-gray;

        & a {
          color: $color-gray;
        }
      }
    }

    & li a {
      text-decoration: none;
      color: $color-black;
      padding: $gap;
      display: block;
      transition: 0.5s;

      @include sm {
        padding: $gap ($gap / 4);
      }
    }
  }
}

.fav {
  position: relative;
}

.new {
  position: absolute;
  color: $color-gray;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: $color-red;

  @include xs {
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.custom-dish {
  right: $gap;
  border-radius: 4px;
  overflow: hidden;

  @include xs-min {
    position: absolute;
  }

  @include xs {
    text-align: center;
    width: 100vw;
  }

  &:hover {
    & button {
      background-color: $color-dark-gray;
      color: $color-gray;
    }
  }
}

.custom-btn {
  padding: $gap;
  border: none;
  background-color: transparent;
  color: $color-black;
  font-family: $font-header;
  font-weight: 600;
  font-size: $font-size;
  transition: 0.5s;

  @include sm {
    padding: $gap ($gap / 4);
  }

  @include xs {
    width: 100%;
  }
}
