$color-gray: #f2f2f2;
$color-dark-gray: #bbb;
$color-gray-transition: rgba(187, 187, 187, 0.9);
$color-black: #000;
$color-red: #ff0000;
$colo-red-light: rgba(255, 0, 0, 0.6);
$color-green-light: rgba(0, 128, 0, 0.6);
$color-white: #ffffff;
